/* Minipay Styling */

.slideshow-container {
    margin-top: 10vh;
    border: 3px solid black;
    border-radius: 25px;

    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-main);

}
.slideshow-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.slide {
    padding: 20px;


}

/* Captions */
.caption {
    text-align: center;
    font-weight: bold;
    background-color: red;
    padding: 20px;
    box-shadow: 0 0 10px 1px;
    font-size: var(--font-M);
}

.caption:nth-child(2) {
    background-color: yellow;
}