main h1 {
    text-align: center;
}


.news-nav {
    background-color: var(--color-main);
    position: sticky;
    top: 3rem;
}

.nav-categories {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-categories li {
    margin: 0.3rem;
}

.nav-category {
    text-decoration: none;
    color: var(--color-secondary);
    padding: 0.5rem 1rem;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.nav-category:hover {
    background-color: aqua;
    transition: background-color 0.3s ease;
    background-color: #666;
}


/* News Accordion */
.news-accordion{
    text-align: end;
    margin: 2rem auto;
    border: 1px solid ;
    border-radius: 4px;
    background-color: var(--color-secondary);
}


.news-accordion-item {
    border-bottom: 1px solid #ccc;
}

.news-accordion-item:last-child {
    border-bottom: none;
}

.news-accordion-label {
    display: block;
    padding: 1rem;
    background-color: var(--color-primary);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: black;
}

.news-accordion-label:hover {
    text-align: center;
}

.news-accordion-content {
    display: none;
    padding: 1rem;
    background-color: var(--color-main);
}

.news-accordion-content li{
list-style: none;
}

.news-accordion-item:target .news-accordion-content {
    display: block;
}

/* accordion Items */


.accordion {
    text-align: end;
    margin: 2rem auto;
    border: 1px solid ;
    border-radius: 40px;
    background-color: var(--color-secondary);
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-label {
    display: block;
    padding: 1rem;
    background-color: var(--color-main);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: black;
}

.accordion-label:hover {
    text-align: center;
}

.accordion-content {
    display: none;
    padding: 1rem;
    background-color: var(--color-primary);
}

.accordion-content li{
list-style: none;
}
.accordion-item:target .accordion-content {
    display: block;
}