/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

/*
 * Reset the default browser setings
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-main: rgb(121, 128, 1);
    --color-primary: rgb(190, 199, 1);
    --color-secondary: rgb(247, 255, 87);

    --color-black: black;
    --color-white: white;

    --test: lime;
    --error: red;

    --font-L: 4rem;
    --font-M: 1.5rem;
    --font-S: 1rem;
    --font-XS: 0.5rem;
}

body {
    padding: 5px;
    background-color: var(--color-main);

}

/*
 * Basic setups
 *
 * @h1 - tiny5
 * @button
 * ===================================== */
.nav-list {
    border: 3px inset var(--color-white);
    padding: 5px;
    display: flex;
    gap: 0.5rem;
}
.nav-list li {
    font-family: 'tiny5';
    list-style: none;
}

.nav-list a {
    color: var(--color-black);
    padding: 5px;
    text-decoration: none;
}

.nav-list a:hover {
    background-color: var(--color-black);
    color: var(--color-secondary);
}

h2, h3 {
    color: var(--color-white);
    font-family: 'Tiny5';
}
button {
    color: var(--color-secondary);
    background-color: var(--color-main);
    border-radius: 5px;
    padding: 5px;
}

button:hover {
    box-shadow: 0 0 30px 1px;
}

/*
 * Header
 ===================================== */
header {
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Tiny5';
    border-bottom: 10px solid;
}


/*
 * Footer
 ===================================== */

footer {
    margin-top: 20vh;
    background-color: var(--color-main);
    border-top: 3px solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.footer-div-socials {
}

.footer-socials {
    width: 30px;
}

/*
 * imgs
 */
.img-2x {
    display: flex;
}
/*
 * logo
 */
.intro-logo {
    display: flex;
    justify-content: center;
}
/* Default logo size */
.img-logo {
    width: 90px;
}



/* 
 * ads
 */

 .ads {
    height: 150px;
    margin-bottom: 5vh;
    background-image: url('../../imgs/logos/inVaal.gif');
    background-position: center;
    background-repeat: space;
    background-size: contain;
 }