/* Small Screens (max-width: 499px) */
@media (width < 500px) {
    header {
        font-size: var(--font-M);
        gap: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-logo {
        width: 150px;
    }

    article {
        padding: 25px;
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
    }

    article p {
        padding: 20px;
        text-align: right;
    }



    .img-2x {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        gap: 2rem;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        align-items: center;
    }

    .gif-src {
        margin: 5px;
        padding: 5px;
        height: 200px;
    }

    .card-news-div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .card-src_date {
        
    }

    .card-news-div iframe {
        margin-top: 2vh;
        width: 100%;
    }

    
    
}

/* Large Screens (min-width: 500px) */
@media (width > 500px) {
    article {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5vh;

    }

    article h2,
    article p {
        text-align: center;
        padding: 50px;
    }

    header {
        font-size: var(--font-L);
        gap: 2rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .img-logo {
        width: 150px;
    }

    .img-2x {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        margin-bottom: 2vh;
        background-color: var(--color-primary);
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
    }

    .card > * {
        padding: 20px;
    }


    .markets {
        display: grid;
        grid-template-columns: 1fr;
    }

    .nav-list {
        display: flex;
    }

    .news-nav {
        display: flex;
    }

    .gridx2 {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 0.5fr;
    }

    .gif-src {
        margin: 5px;
        padding: 5px;
        height: 200px;
    }

  
}
