/* Small Screens (max-width: 499px) */
@media (width < 500px) {

    body {
        font-size: var(--font-S);
    }
    header {
        font-size: var(--font-M);
        gap: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-logo {
        width: 150px;
    }

    article {
        padding: 15px;
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
    }

    article p {
        padding: 10px;
        text-align: right;
    }



    .img-2x {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        gap: 2rem;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        align-items: center;
    }

    .gif-src {
        margin: 5px;
        padding: 5px;
        height: 200px;
    }

    .card-news-div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .card-src_date {
        
    }

    .card-news-div iframe {
        margin-top: 2vh;
        width: 100%;
    }

    .flex-QnA {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
}

/* Large Screens (min-width: 500px) */
@media (width > 500px) {

    body {
        font-size: var(--font-S);
    }

    .nav-list li {
        font-size: var(--font-S);
    }

    article {
    }

    article h2 {
    }

    article p {
    }
    
    article div {
    }

    header {
        font-size: var(--font-L);
        gap: 2rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .img-logo {
        width: 100%;
    }
    
    .img-2x {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .card {
        padding: 15px;
    }

    .card h2 {
        color: var(--color-main);
    }

    .card p {
        padding: 25px;
        
    }
    
    .card div {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }


  






    .gridx2 {
        padding: 20px;
        gap: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 3px solid var(--color-main);
        align-items: center;
    }
    .gridx2 > {
    height: 100%;
    }

    .gif-src {
        margin: 5px;
        padding: 5px;
        height: 200px;
    }

    .flex-QnA {
        padding: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
  
}
