<head>
    <link rel="stylesheet" href="../css/responsive.css">
</head>

<footer id="site-footer">  <!-- Added the ID for the main footer element -->
        <div class="footer-content">
            <div class="footer-section">
                <h3>Quick Links</h3>
                <nav>  <!-- Wrap the links in a <nav> element -->
                    <ul>
                        <li><a href="sasolburg.html">Sasolburg</a></li>
                        <li><a href="vereeniging.html">Vereeniging</a></li>
                        <li><a href="vanderbijlpark.html">Vanderbijlpark</a></li>
                        <li><a href="changelog.html">Changelog</a></li>
                    </ul>
                </nav>
            </div>

            <div class="footer-contact">
                <h3>Get In Touch</h3>
                <a href="mailto:invaaltriangle@gmail.com"><p>InMail</p></a>
                <h3>Location</h3>
                <p style="color: var(--color-secondary);">
                    Vaal Triangle, South Africa
                </p>
            </div>

            <div class="footer-links">
                <h3>Follow Us</h3>
                <div class="social-links">
                    <!-- Youtube -->
                    <a href="#" target="_blank"><img class="footer-socials" src="assets/icons/socials/youtube.png" alt="YouTube"></a>
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/invaaltriangle/" target="_blank"><img class="footer-socials" src="assets/icons/socials/facebook.png" alt="Facebook_page"></a>
                    <!-- Whatsapp Chnnl -->
                    <a href="https://whatsapp.com/channel/0029Vaez8FB6WaKiRJKHpC0C" target="_blank"><img class="footer-socials" src="assets/icons/socials/whatsapp.png" alt="whatsapp_Channel"></a>
                </div>
            </div>

        </div>
    <div class="copyright">  <!-- Added a class for the copyright notice -->
        <p>inVaal [016] &copy; 2025 All rights reserved.</p>
    </div>
</footer>
