<head>
    <link rel="stylesheet" href="../css/responsive.css">
</head>

<div class="footer-content">
    <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
            <li><a href="sasolburg.html">Sasolburg</a></li>
            <li><a href="vereeniging.html">Vereeniging</a></li>
            <li><a href="vanderbijlpark.html">Vanderbijlpark</a></li>
            <li><a href="business.html">Business</a></li>
            <li><a href="careers.html">Careers</a></li>
        </ul>
    </div>
    <div class="footer-contact">
        <h3>Contact Us</h3>
        <a href="mailto:invaaltriangle@gmail.com"><p>InMail</p></a>
        <h3>Location</h3> 
        <p style="color: var(--color-secondary);">
            Vaal Triangle, South Africa
        </p>
    </div>
    <div class="footer-links">
        <h3>Follow Us</h3>
        <div class="social-links">
            <!-- Youtube -->
            <a href="#" target="_blank"><img class="footer-socials" src="assets/icons/socials/youtube.png" alt="YouTube"></a>
            <!-- Facebook -->
            <a href="https://www.facebook.com/invaaltriangle/" target="_blank"><img class="footer-socials" src="assets/icons/socials/facebook.png" alt="Facebook_page"></a>
            <!-- Whatsapp Chnnl -->
            <a href="https://whatsapp.com/channel/0029Vaez8FB6WaKiRJKHpC0C" target="_blank"><img class="footer-socials" src="assets/icons/socials/whatsapp.png" alt="whatsapp_Channel"></a>
        </div>
    </div>
    <div class="footer-rights">
        <p></span>inVaal [016]&copy; 2025 All rights reserved.</p>
    </div>


</div>
