<!-- ./components/header.html -->
<head>
    <!-- Css root files -->
    <link rel="stylesheet" href="../css/root.css">
    <link rel="stylesheet" href="../css/mobile_nav.css">
</head>
<!-- Navigation Container -->
<nav class="nav-container">
    <!-- Logo -->
    <div class="logo-container">
        <a href="index.html" class="logo">
            <img src="assets/logos/inVaalTriangle_logo.png" alt="inVaal Logo">
            
            <h1 class="logo-text">InVaal
            </h1><hr>
            <p style="font-size: 0.7rem;">[016]
            </p>
        </a>
    </div>
    <div class="nav-menu-container">
        <!-- Hamburger menu button with ARIA labels for accessibility -->
        <div class="menu-button" aria-label="Toggle navigation menu" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- Navigation menu -->
        <div class="nav-menu" id="nav-menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="business.html">Business</a></li>
                <li><a href="careers.html">Careers</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End of Navigation Container -->
<!-- End of components/header.html -->